<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-firebase-domain" version="0.0.1" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Firebase Domain</name>
  <license>MIT</license>

  <engines>
	<engine name="cordova" version=">=7.1.0"/>
	<engine name="cordova-android" version=">=8.1.0"/>
	<engine name="cordova-ios" version=">=5.1.1"/>
  </engines>

  <preference name="APP_DOMAIN_NAME" default="firebase_domain_url_prefix"/>
  <preference name="APP_DOMAIN_PATH" default="/" />

  <platform name="android">
	<config-file parent="/*" target="res/xml/config.xml">
        <preference name="DOMAIN_URI_PREFIX" value="https://$APP_DOMAIN_NAME$APP_DOMAIN_PATH"/>
        <feature name="FirebaseDynamicLinks">
            <param name="android-package" value="by.chemerisuk.cordova.firebase.FirebaseDynamicLinksPlugin" />
        </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity" mode="replace">
		<intent-filter android:label="@string/launcher_name">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="$APP_DOMAIN_NAME" android:pathPrefix="$APP_DOMAIN_PATH" android:scheme="http"/>
                <data android:host="$APP_DOMAIN_NAME" android:pathPrefix="$APP_DOMAIN_PATH" android:scheme="https"/>
		<data android:host="links.en.tel" android:pathPrefix="$APP_DOMAIN_PATH" android:scheme="http"/>
                <data android:host="links.en.tel" android:pathPrefix="$APP_DOMAIN_PATH" android:scheme="https"/>
            </intent-filter>
    </config-file>

  </platform>

  <platform name="ios">
  
	<config-file target="*-Info.plist" parent="CFBundleURLTypes">
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>BUNDLE_ID</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>$PACKAGE_NAME</string>
                </array>
            </dict>
        </array>
    </config-file>

    <config-file target="*-Info.plist" parent="FirebaseDynamicLinksCustomDomains">
        <array>
            <string>http://$APP_DOMAIN_NAME$APP_DOMAIN_PATH</string>
            <string>https://$APP_DOMAIN_NAME$APP_DOMAIN_PATH</string>
        </array>
    </config-file>

    <config-file target="*-Debug.plist" parent="com.apple.developer.associated-domains">
        <array>
            <string>applinks:$APP_DOMAIN_NAME</string>
        </array>
    </config-file>

    <config-file target="*-Release.plist" parent="com.apple.developer.associated-domains">
        <array>
            <string>applinks:$APP_DOMAIN_NAME</string>
        </array>
    </config-file>

  </platform>
</plugin>
